
# XG Boost

## Import the libraries

In [16]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Import the dataset

In [17]:
dataset = pd.read_csv("data/Data.csv")
X = dataset.iloc[:, 1:-1]
y = dataset.iloc[:,-1]

In [18]:
dataset.head(5)

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2

In [19]:
X.head(5)

,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
0,5,1,1,1,2,1,3,1,1
1,5,4,4,5,7,10,3,2,1
2,3,1,1,1,2,2,3,1,1
3,6,8,8,1,3,4,3,7,1
4,4,1,1,3,2,1,3,1,1

In [20]:
y.head(5)

0    2
1    2
2    2
3    2
4    2
Name: Class, dtype: int64

## Encode Categorical Variable

In [21]:
from sklearn.preprocessing import LabelEncoder

#We have to encode the y into 0 and 1
encoder = LabelEncoder()
y = encoder.fit_transform(y)

## Splitting the dataset into the Training Set and Test Set

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [23]:
print(len(X_train), len(X_test), len(y_train), len(y_test))

546 137 546 137

## Training the XGBoost on the Training set

In [25]:
from xgboost import XGBClassifier

classifier = XGBClassifier(use_label_encoder=False, eval_metric='logloss')
classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, eval_metric='logloss',
              gamma=0, gpu_id=-1, importance_type='gain',
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=8,
              num_parallel_tree=1, random_state=0, reg_alpha=0, reg_lambda=1,
              scale_pos_weight=1, subsample=1, tree_method='exact',
              use_label_encoder=False, validate_parameters=1, verbosity=None)

## Making Confusion Matrix

In [11]:
from sklearn.metrics import confusion_matrix, accuracy_score

y_pred = classifier.predict(X_test)

print("XGBoost")
print("Confusion Matrix : \n", confusion_matrix(y_test, y_pred))
print()
print(f"Model Accuracy : {accuracy_score(y_test, y_pred)}")

XGBoost
Confusion Matrix :
 [[84  3]
 [ 1 49]]

Model Accuracy : 0.9708029197080292

## Applying k-Flod Cross Validation

In [26]:
from sklearn.model_selection import cross_val_score

accuracies = cross_val_score(estimator = classifier, 
                             X = X_train, 
                             y = y_train,
                             cv = 10)

print("Accuracy: {:.2f} %".format(accuracies.mean() * 100))
print("Standard Deviation: {:.2f} %".format(accuracies.std() * 100))

Accuracy: 96.89 %
Standard Deviation: 2.17 %